* {
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    align-items: center;
    padding: 7px 20px;
    position: fixed;
    width: 100%;
    background: white;
}

.logo {
    padding: 10px;
    letter-spacing: 2px;
    cursor: pointer;
}

.menu ul{
  list-style: none;  
  display: flex;
}

.menu ul a{
   text-decoration: none;
   color: black;
   display: block;
   padding: 10px;
   letter-spacing: 2px;
}

.menu ul a:hover{
    background: rgb(219, 218, 218);
 }
.logo:hover {
    background: rgb(219, 218, 218);
}

.cover{
    max-width: 1500px;
    margin: 0 auto;
}
.cover img {
    width: 100%;
}

.container {
    padding: 40px 20px;
}

.container h2 {
    padding: 10px 0;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.projects .items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.projects .house {
   position: relative;
   margin: 10px; 
   flex-basis: 20%;
   flex-grow: 1;
}

.projects .house img{
    width: 100%;
 }

.projects .house .label{
    position: absolute; 
    top: 0;
    left: 0;
    background: #000;
    color: white;
    padding: 10px;
}